//
   Created by Mothra on 8/31/15.

//extends ./layout

p hello world

ul
    each object, index in memeobj
            li
                img(src=object.url)
                p= messagesobj[index].message


